_pycache_
__pycache__/assignedVehicles.cpython-311.pyc
__pycache__/data_handler.cpython-311.pyc
__pycache__/excel_reader.cpython-311.pyc
__pycache__/MYSQL.cpython-311.pyc
__pycache__/Spark_stream.cpython-311.pyc
__pycache__/vehicle_type.cpython-311.pyc
APP/__pycache__/Flask_Functions.cpython-311.pyc
Config/__pycache__/config.cpython-311.pyc
Config/__pycache__/Logger.cpython-311.pyc
output/checkpoints/delays/commits/.8.crc
output/checkpoints/delays/commits/8
output/checkpoints/delays/offsets/.8.crc
output/checkpoints/delays/offsets/8
output/checkpoints/travels/commits/.30.crc
output/checkpoints/travels/commits/30
output/checkpoints/travels/offsets/.30.crc
output/checkpoints/travels/offsets/30
output/checkpoints/violations/commits/.12.crc
output/checkpoints/violations/commits/12
output/checkpoints/violations/offsets/.12.crc
output/checkpoints/violations/offsets/12
output/stream/.part-00000-e836bd5a-6dd8-4c91-a85f-7f9834c61deb-c000.json.crc
output/stream/part-00000-e836bd5a-6dd8-4c91-a85f-7f9834c61deb-c000.json
output/stream/_spark_metadata/.12.crc
output/stream/_spark_metadata/12
output/stream2/.part-00000-c188cc9f-8675-4388-8c1d-8a7ece4276e4-c000.json.crc
output/stream2/part-00000-c188cc9f-8675-4388-8c1d-8a7ece4276e4-c000.json
output/stream2/_spark_metadata/.30.crc
output/stream2/_spark_metadata/30
output/stream3/.part-00000-31b0d105-96ff-465d-a460-a9df90d98327-c000.json.crc
output/stream3/part-00000-31b0d105-96ff-465d-a460-a9df90d98327-c000.json
output/stream3/_spark_metadata/.8.crc
output/stream3/_spark_metadata/8
output/checkpoints/travels/commits/.31.crc
output/checkpoints/travels/commits/.32.crc
output/checkpoints/travels/commits/.33.crc
output/checkpoints/travels/commits/.34.crc
output/checkpoints/travels/commits/.35.crc
output/checkpoints/travels/commits/.36.crc
output/checkpoints/travels/commits/.37.crc
output/checkpoints/travels/commits/.38.crc
output/checkpoints/travels/commits/.39.crc
output/checkpoints/travels/commits/.40.crc
output/checkpoints/travels/commits/.41.crc
output/checkpoints/travels/commits/.42.crc
output/checkpoints/travels/commits/.43.crc
output/checkpoints/travels/commits/.44.crc
output/checkpoints/travels/commits/.45.crc
output/checkpoints/travels/commits/.46.crc
output/checkpoints/travels/commits/.47.crc
output/checkpoints/travels/commits/.48.crc
output/checkpoints/travels/commits/.49.crc
output/checkpoints/travels/commits/.50.crc
output/checkpoints/travels/commits/.51.crc
output/checkpoints/travels/commits/31
output/checkpoints/travels/commits/32
output/checkpoints/travels/commits/33
output/checkpoints/travels/commits/34
output/checkpoints/travels/commits/35
output/checkpoints/travels/commits/36
output/checkpoints/travels/commits/37
output/checkpoints/travels/commits/38
output/checkpoints/travels/commits/39
output/checkpoints/travels/commits/40
output/checkpoints/travels/commits/41
output/checkpoints/travels/commits/42
output/checkpoints/travels/commits/43
output/checkpoints/travels/commits/44
output/checkpoints/travels/commits/45
output/checkpoints/travels/commits/46
output/checkpoints/travels/commits/47
output/checkpoints/travels/commits/48
output/checkpoints/travels/commits/49
output/checkpoints/travels/commits/50
output/checkpoints/travels/commits/51
output/checkpoints/travels/offsets/..31.f224f119-80c0-4852-ac68-572f3e88acd4.tmp.crc
output/checkpoints/travels/offsets/..33.583d79f3-3127-4682-86a9-438e2fa74f32.tmp.crc
output/checkpoints/travels/offsets/..42.f8ca162e-5195-435e-9130-6d001463a8b6.tmp.crc
output/checkpoints/travels/offsets/..48.1d7f01f8-0e7a-4a4c-89a2-761c67911ba8.tmp.crc
output/checkpoints/travels/offsets/.31.crc
output/checkpoints/travels/offsets/.31.f224f119-80c0-4852-ac68-572f3e88acd4.tmp
output/checkpoints/travels/offsets/.32.crc
output/checkpoints/travels/offsets/.33.583d79f3-3127-4682-86a9-438e2fa74f32.tmp
output/checkpoints/travels/offsets/.33.crc
output/checkpoints/travels/offsets/.34.crc
output/checkpoints/travels/offsets/.35.crc
output/checkpoints/travels/offsets/.36.crc
output/checkpoints/travels/offsets/.37.crc
output/checkpoints/travels/offsets/.38.crc
output/checkpoints/travels/offsets/.39.crc
output/checkpoints/travels/offsets/.40.crc
output/checkpoints/travels/offsets/.41.crc
output/checkpoints/travels/offsets/.42.crc
output/checkpoints/travels/offsets/.42.f8ca162e-5195-435e-9130-6d001463a8b6.tmp
output/checkpoints/travels/offsets/.43.crc
output/checkpoints/travels/offsets/.44.crc
output/checkpoints/travels/offsets/.45.crc
output/checkpoints/travels/offsets/.46.crc
output/checkpoints/travels/offsets/.47.crc
output/checkpoints/travels/offsets/.48.1d7f01f8-0e7a-4a4c-89a2-761c67911ba8.tmp
output/checkpoints/travels/offsets/.48.crc
output/checkpoints/travels/offsets/.49.crc
output/checkpoints/travels/offsets/.50.crc
output/checkpoints/travels/offsets/.51.crc
output/checkpoints/travels/offsets/31
output/checkpoints/travels/offsets/32
output/checkpoints/travels/offsets/33
output/checkpoints/travels/offsets/34
output/checkpoints/travels/offsets/35
output/checkpoints/travels/offsets/36
output/checkpoints/travels/offsets/37
output/checkpoints/travels/offsets/38
output/checkpoints/travels/offsets/39
output/checkpoints/travels/offsets/40
output/checkpoints/travels/offsets/41
output/checkpoints/travels/offsets/42
output/checkpoints/travels/offsets/43
output/checkpoints/travels/offsets/44
output/checkpoints/travels/offsets/45
output/checkpoints/travels/offsets/46
output/checkpoints/travels/offsets/47
output/checkpoints/travels/offsets/48
output/checkpoints/travels/offsets/49
output/checkpoints/travels/offsets/50
output/checkpoints/travels/offsets/51
output/stream2/.part-00000-1bd2fe6b-92b9-4dfa-8e97-950db1c68a1a-c000.json.crc
output/stream2/.part-00000-5a1d1ced-b604-458a-855b-0e231dd04e9f-c000.json.crc
output/stream2/.part-00000-5d36f3ea-c4aa-4473-b6ec-ac19a924eafe-c000.json.crc
output/stream2/.part-00000-7c6547b9-b9e8-4389-8a98-591f223473ff-c000.json.crc
output/stream2/.part-00000-8a01e2ca-f292-47aa-a034-3f363c78174c-c000.json.crc
output/stream2/.part-00000-8c83d951-1a42-48ed-b869-349e0100fc3c-c000.json.crc
output/stream2/.part-00000-9a60bd2b-419a-4399-a71a-ee628fa5cab0-c000.json.crc
output/stream2/.part-00000-9b1ac656-2891-457e-b1e3-8c12115b863a-c000.json.crc
output/stream2/.part-00000-9cca9f33-9d67-4712-9479-0942ff74629e-c000.json.crc
output/stream2/.part-00000-21ad14da-3b99-47ca-bbbe-ed4c10ec2278-c000.json.crc
output/stream2/.part-00000-25e07d04-76ab-45a5-acf8-bcd784f8c75a-c000.json.crc
output/stream2/.part-00000-26ba69b4-5421-4e8b-bd03-1424ed3474c2-c000.json.crc
output/stream2/.part-00000-28a13e09-da46-4d31-a04d-628c5d62aabe-c000.json.crc
output/stream2/.part-00000-36d886a8-2e42-4419-b10b-c2440893dacd-c000.json.crc
output/stream2/.part-00000-621e85c2-6bf8-4db3-92d5-82c90c8a1e98-c000.json.crc
output/stream2/.part-00000-4023a305-0b80-45c8-a5c9-5b7dc006a24a-c000.json.crc
output/stream2/.part-00000-05673c22-e655-4ab6-a540-4c2bbe4809ba-c000.json.crc
output/stream2/.part-00000-086153f5-43fd-4d2c-b991-f8cb0b49f0e6-c000.json.crc
output/stream2/.part-00000-11025642-cdec-4700-b9e0-5706e2e4804b-c000.json.crc
output/stream2/.part-00000-c6c73ade-998e-4990-9260-6e8bdb061a17-c000.json.crc
output/stream2/.part-00000-f532b6a1-6af5-41d2-a89b-17d0f0d5c4c3-c000.json.crc
output/stream2/part-00000-1bd2fe6b-92b9-4dfa-8e97-950db1c68a1a-c000.json
output/stream2/part-00000-5a1d1ced-b604-458a-855b-0e231dd04e9f-c000.json
output/stream2/part-00000-5d36f3ea-c4aa-4473-b6ec-ac19a924eafe-c000.json
output/stream2/part-00000-7c6547b9-b9e8-4389-8a98-591f223473ff-c000.json
output/stream2/part-00000-8a01e2ca-f292-47aa-a034-3f363c78174c-c000.json
output/stream2/part-00000-8c83d951-1a42-48ed-b869-349e0100fc3c-c000.json
output/stream2/part-00000-9a60bd2b-419a-4399-a71a-ee628fa5cab0-c000.json
output/stream2/part-00000-9b1ac656-2891-457e-b1e3-8c12115b863a-c000.json
output/stream2/part-00000-9cca9f33-9d67-4712-9479-0942ff74629e-c000.json
output/stream2/part-00000-21ad14da-3b99-47ca-bbbe-ed4c10ec2278-c000.json
output/stream2/part-00000-25e07d04-76ab-45a5-acf8-bcd784f8c75a-c000.json
output/stream2/part-00000-26ba69b4-5421-4e8b-bd03-1424ed3474c2-c000.json
output/stream2/part-00000-28a13e09-da46-4d31-a04d-628c5d62aabe-c000.json
output/stream2/part-00000-36d886a8-2e42-4419-b10b-c2440893dacd-c000.json
output/stream2/part-00000-621e85c2-6bf8-4db3-92d5-82c90c8a1e98-c000.json
output/stream2/part-00000-4023a305-0b80-45c8-a5c9-5b7dc006a24a-c000.json
output/stream2/part-00000-05673c22-e655-4ab6-a540-4c2bbe4809ba-c000.json
output/stream2/part-00000-086153f5-43fd-4d2c-b991-f8cb0b49f0e6-c000.json
output/stream2/part-00000-11025642-cdec-4700-b9e0-5706e2e4804b-c000.json
output/stream2/part-00000-c6c73ade-998e-4990-9260-6e8bdb061a17-c000.json
output/stream2/part-00000-f532b6a1-6af5-41d2-a89b-17d0f0d5c4c3-c000.json
output/stream2/_spark_metadata/.31.crc
output/stream2/_spark_metadata/.32.crc
output/stream2/_spark_metadata/.33.crc
output/stream2/_spark_metadata/.34.crc
output/stream2/_spark_metadata/.35.crc
output/stream2/_spark_metadata/.36.crc
output/stream2/_spark_metadata/.37.crc
output/stream2/_spark_metadata/.38.crc
output/stream2/_spark_metadata/.39.compact.crc
output/stream2/_spark_metadata/.40.crc
output/stream2/_spark_metadata/.41.crc
output/stream2/_spark_metadata/.42.crc
output/stream2/_spark_metadata/.43.crc
output/stream2/_spark_metadata/.44.crc
output/stream2/_spark_metadata/.45.crc
output/stream2/_spark_metadata/.46.crc
output/stream2/_spark_metadata/.47.crc
output/stream2/_spark_metadata/.48.crc
output/stream2/_spark_metadata/.49.compact.crc
output/stream2/_spark_metadata/.50.crc
output/stream2/_spark_metadata/.51.crc
output/stream2/_spark_metadata/31
output/stream2/_spark_metadata/32
output/stream2/_spark_metadata/33
output/stream2/_spark_metadata/34
output/stream2/_spark_metadata/35
output/stream2/_spark_metadata/36
output/stream2/_spark_metadata/37
output/stream2/_spark_metadata/38
output/stream2/_spark_metadata/39.compact
output/stream2/_spark_metadata/40
output/stream2/_spark_metadata/41
output/stream2/_spark_metadata/42
output/stream2/_spark_metadata/43
output/stream2/_spark_metadata/44
output/stream2/_spark_metadata/45
output/stream2/_spark_metadata/46
output/stream2/_spark_metadata/47
output/stream2/_spark_metadata/48
output/stream2/_spark_metadata/49.compact
output/stream2/_spark_metadata/50
output/stream2/_spark_metadata/51
Data/New data.xlsx
