_pycache_
__pycache__/assignedVehicles.cpython-311.pyc
__pycache__/data_handler.cpython-311.pyc
__pycache__/excel_reader.cpython-311.pyc
__pycache__/MYSQL.cpython-311.pyc
__pycache__/Spark_stream.cpython-311.pyc
__pycache__/vehicle_type.cpython-311.pyc
APP/__pycache__/Flask_Functions.cpython-311.pyc
Config/__pycache__/config.cpython-311.pyc
Config/__pycache__/Logger.cpython-311.pyc
output/checkpoints/delays/commits/.8.crc
output/checkpoints/delays/commits/8
output/checkpoints/delays/offsets/.8.crc
output/checkpoints/delays/offsets/8
output/checkpoints/travels/commits/.30.crc
output/checkpoints/travels/commits/30
output/checkpoints/travels/offsets/.30.crc
output/checkpoints/travels/offsets/30
output/checkpoints/violations/commits/.12.crc
output/checkpoints/violations/commits/12
output/checkpoints/violations/offsets/.12.crc
output/checkpoints/violations/offsets/12
output/stream/.part-00000-e836bd5a-6dd8-4c91-a85f-7f9834c61deb-c000.json.crc
output/stream/part-00000-e836bd5a-6dd8-4c91-a85f-7f9834c61deb-c000.json
output/stream/_spark_metadata/.12.crc
output/stream/_spark_metadata/12
output/stream2/.part-00000-c188cc9f-8675-4388-8c1d-8a7ece4276e4-c000.json.crc
output/stream2/part-00000-c188cc9f-8675-4388-8c1d-8a7ece4276e4-c000.json
output/stream2/_spark_metadata/.30.crc
output/stream2/_spark_metadata/30
output/stream3/.part-00000-31b0d105-96ff-465d-a460-a9df90d98327-c000.json.crc
output/stream3/part-00000-31b0d105-96ff-465d-a460-a9df90d98327-c000.json
output/stream3/_spark_metadata/.8.crc
output/stream3/_spark_metadata/8
