<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon"
        href="{{ url_for('static', filename='D:\graduation project\test with (3.11) V2\GP-main\APP\static\radar.ico')}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Flask App</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">


</head>

<body></body>
<div class="center">

    <form method="post">
        <h1>Our Radar</h1>
        <span>Car ID:</span>

        <div class="inputbox">
            <input type="text" name="ID" required="required" placeholder="Car ID .e.g:0000_Car">
        </div>
        <span>Start Gate:</span>
        <div class="inputbox">

            <input type="text" name="StartGate" required="required" placeholder="Start Gate">
        </div>
        <div class="inputbox">
            <button type="submit">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                SUBMIT
            </button>
        </div>

    </form>
</div>
</body>

</html>